html {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1440px;
    font: 1rem 'Fira Sans', sans-serif;

}

header {
    text-align: center;
    align-items: center;
    height: auto;
    margin: auto;
    height: 100px;
}

#title {
    color: #FD2D01;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 120px;
    padding-bottom: 20px;
    height: 700px;
}

#email {
    border-radius: 10px;
    border-color: #4E5166;
    background-color: #FFD7D7;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#password {
    border-radius: 10px;
    border-color: #4E5166;
    background-color: #FFD7D7;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#create {
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-decoration: none;
    color: #4E5166;
}

.buttonStyled {
    display: flex;
    padding: 5px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #4E5166;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.buttonStyled:hover {
    background-color: #4E5166;
}

.buttonStyled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
