main {
    max-width: 800px;
    margin: auto;
}

header {
    text-align: center;
    margin: 10px 0px 40px 0px;
    background-color: #ffecec;
}

#header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px 20px 10px;
}

.buttonProfilCreate {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #FD2D01;
}

.buttonProfilCreate:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.buttonProfilCreate:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    color: #FD2D01
}

#title {
    color: #FD2D01
}

body {
    margin: auto;
    max-width: 1440px;
}

#refreshButton {
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #FD2D01;
}

#refreshButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#refresh {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

#topics {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 30px 0px;
    animation: topics 1000ms ease-in-out; 
    animation-fill-mode: forwards;
}

@keyframes topics {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

.topic {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px 1px grey;
    border-radius: 20px;
    background-color: #4E5166;
    margin: 0px 10px 30px 10px;
}
.topicStyle {
    display: flex;
    justify-content: space-between;
}

.topicType {
    background-color: #8c90a1;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    width: 700px;
}
.interactTopic {
    margin: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.title {
    color: white;
}
.response {
    color: white;
}
.like:hover {
    cursor: pointer;
}
.dislike:hover {
    cursor: pointer;
}
.author {
    color: white;
}
input {
    margin: 10px;
}

#create_topic {
    text-align: center;
    color: #4E5166
}

#form {
    background-color: #ffecec;
    border-radius: 500px;
    margin-bottom: 100px;
}

#form, #create_topic {
    animation: createTopic 1000ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes createTopic {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

textarea {
    width: 50%;
    height: 6.875rem;
    font: 1rem 'Fira Sans', sans-serif;
    padding: 0.625rem;
    border-color: #4E5166;
    border-radius: 10px;
}
.title {
    color: white;
}
.description {
    color: black;
}
.like {
    color: white;
}

