#main {
    background-color: #e9e9e9;
    border-radius: 50px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#topicTitle {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

#inputTitle {
    font-size: 24px;
    max-width: 20em;
    border-radius: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 10px 10px;
}

#inputTitleFlex {
    display: flex;
    justify-content: center;
}

#topicDescription {
    font-size: 1.5em;
    padding: 20px 20px;
}

#inputDescription {
    margin: 0px;
    font-size: 1.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 90%;
    padding: 20px 20px;
}

#submitModification {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.updateTopics {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
#interactButton {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0px;
}
.interact {
    display: flex;
    cursor: pointer;
    justify-content: center;
    max-width: 30px;
    margin: 10px;
}
#topicListes {
    margin: 10px 0px 30px 10px;
}

#pseudoTopic {
    font-size: 1.5em;
    margin: 20px;
    align-items: center;
    display: flex;
    border-left: 0.1rem solid;
    border-color: rgb(204, 204, 204);
    padding-left: 65px;
}
#pseudoDescription {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 0.1rem solid;
    border-color: rgb(204, 204, 204);
    margin: 0px 10px;
}
#interaction {
    display: flex;
    justify-content: space-around;
}
.buttonInteractTopic {
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: #e9e9e9;
}
#commentaires {
    display: flex;
    flex-direction: column;
}



