#main {
    background-color: #e9e9e9;
    border-radius: 50px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#topicTitle {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

#inputTitle {
    font-size: 24px;
    max-width: 20em;
    border-radius: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 10px 10px;
}

#inputTitleFlex {
    display: flex;
    justify-content: center;
}

#topicDescription {
    font-size: 1.5em;
    padding: 20px 20px;
}

#inputDescription {
    margin: 0px;
    font-size: 1.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 90%;
    padding: 20px 20px;
}

#submitModification {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.updateTopics {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
#interactButton {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0px;
}
.interact {
    display: flex;
    cursor: pointer;
    justify-content: center;
    max-width: 30px;
    margin: 10px;
}
#topicListes {
    margin: 50px 0px 30px 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#pseudoTopic {
    font-size: 1.5em;
    margin: 20px;
    align-items: center;
    display: flex;
    border-left: 0.1rem solid;
    border-color: rgb(204, 204, 204);
    padding-left: 65px;
    text-decoration: none;
    color: black;
}
#pseudoTopic:hover {
    color: #FD2D01;
}

#pseudoDescription {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 0.1rem solid;
    border-color: rgb(204, 204, 204);
    margin: 0px 10px;
}
#interaction {
    display: flex;
    justify-content: space-around;
}
.buttonInteractTopic {
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: #e9e9e9;
}
#commentaires {
    display: flex;
    flex-direction: column;
}
#createComment {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid;
    background-color: white;    
    border-radius: 10px;
    width: 20%;
}
#description_comment{
    width: 90%;
    height: 50%;
}
#buttonListeStyle{
    display: flex;
    align-items: center;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    h4 {
        margin-left: 4px;
    }
    #createComment {
        width: 40%;
    }
    #description_comment {
        width: 80%;
    }
    #interaction {
        flex-direction: column;
        align-items: center;
    }
    #interactButton {
        flex-direction: column;
    }
    img {
        max-width: 100px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    h4 {
        margin-left: 4px;
    }
    #createComment {
        width: 30%;
    }
    #description_comment {
        width: 90%;
    }
    img {
        max-width: 500px;
    }
}

@media screen and (min-width: 769px) {
    img {
        max-width: 500px;
    }
}

#imageTopic {
    padding: 20px;
}

/* img {
    max-width: 500px;
} */
